{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent d' Inspection - Caisse d'Epargne de Madagascar</title>
    <link rel="stylesheet" href="{% static 'css/base_directeur_agence.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-5/css/all.css' %}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <img src="{% static 'img/LOGO-CEM-WEB.png' %}" alt="Logo CEM" class="logo" onclick="toggleSidebar()">
            <span class="sidebar-title">Agent d' Inspection</span>
        </div>
        <nav>
            <a href="{% url 'agent_inspection_home' %}" class="nav-item"><i class="fa fa-home nav-icon"></i><span class="nav-text">Accueil</span></a>
            <div class="nav-group">
                <a href="#" class="nav-item"><i class="fa fa-chart-bar nav-icon"></i><span class="nav-text">Rendez-Vous</span></a>
            </div>

            <a href="{% url 'logout' %}" class="nav-item"><i class="fa fa-sign-out-alt nav-icon"></i><span class="nav-text">Déconnexion</span></a>
        </nav>
    </div>

    <main class="content">
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </main>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        }

        document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('.nav-item');
    
            navItems.forEach(item => {
                item.addEventListener('click', function () {
                    const submenu = this.nextElementSibling; // Trouve le sous-menu associé
    
                    if (submenu && submenu.classList.contains('nav-submenu')) {
                        submenu.classList.toggle('active'); // Active ou désactive l'affichage
                    }
                });
            });
        });
    </script>
</body>
</html>
