{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Caisse d' Epargne de Madagascar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div id="container">
            <div class="logo">
                <img src="{% static 'img/LOGO-CEM-WEB-removebg-preview.png' %}">
            </div>
            <div class="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="Valider">
                </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </body>
</html>